<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/application.css">
	<title>Battleships</title>
</head>
<body>
	<h1 class='battleships_logo'>Battleships!</h1>
	<%= yield %>
</body>
</html>